body {
}

header {
	text-align: center;

	h3 {
		font-size: 2em;
		font-family: 'Helvetica Neue';
	}
}

h4 {
	margin-top: 0px;
	margin-bottom: 10px;
}

.maincontent {
	width: 960px;
	margin: 0 auto;
	margin-bottom: 50px;
}

.speaker {
	background-color: #cfcfcf;
	padding: 20px 40px;

	.date, .name, .subjects, .icons {
		display: inline;
		margin-right: 15px;
	}

}

.submission {
	.shortdetails {
		margin: 20px 40px; 
		.contact, .howdoyouknow, .talkstyle, .length {
			display: inline-block;
			margin-right: 25px;
		}
		last-child {
			margin-right: 0px;
		}
	}

	.longdetails {
		margin: 20px 40px;

		div {
			margin-bottom: 15px;
			margin-top: 15px;
		}
	}
}